@import './variables.css';

@import './sections/globe.css';
@import './sections/loader.css';
@import './sections/header.css';
@import './sections/table.css';

@import './media/1024/header.css';
@import './media/1024/table.css';

@import './media/360/loader.css';
@import './media/360/header.css';
@import './media/360/table.css'
