#header {
  margin-bottom: 124px;
}

.tablet {
  display: none;
}

.header__h1 {
  font-weight: 700;
  font-size: 22px;
  line-height: 21px;

  text-transform: uppercase;

  margin: 0;
  margin-bottom: 50px;
}

.header__wrapper {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__prompt {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  color: var(--text-light);

  margin-bottom: 16px;
}

.choices__item > span:first-child {
  max-width: 75%;

  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.choices__inner .choices__item {
  display: flex;
  justify-content: center;
}

/* .choices__inner .choices__list--single {
  width: calc(100% - var(--width-after));
} */

.choices__inner > .header__select + .choices__list--single > .choices__item > span:first-child {
  max-width: 85%;

  margin-right: 5px;

  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.header__input,
.header__result {
  padding-inline: 10px;

  overflow: hidden;

  min-height: 136px;

  border: 1px solid var(--blue-grey);
  border-radius: 2px;

  font-weight: 700;
  font-size: 44px;
  line-height: 60px;
}

.header__result {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper {
  width: 40.4%;
}

.header__button {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transform: translateY(92%);
      -ms-transform: translateY(92%);
          transform: translateY(92%)
}

.header__button:focus-visible {
  outline: none;
}

.header__button:focus path,
.header__button:hover path {
  fill: var(--active-element);
}

.header__button:active path {
  fill: var(--text-light);
}

.header__input:focus,
.header__result:focus {
  outline: none;
  /* border-color: var(--text-light); */
}

/* DD */

.choices {
  position: static;
}

.choices::after {
  display: none;
}

.choices__list[aria-expanded] {
  left: 0;
  top: 88px;

  border: none;

  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);

  z-index: 10;
}

.choices[data-type*=select-one] .choices__input {
  border-top: 1px solid var(--blue-grey);
  border-bottom: 1px solid var(--blue-grey);
  border-radius: 2px 2px 0 0;

  padding-inline: 32px;
}


.choices__list--dropdown .choices__list,
.choices__list[aria-expanded] .choices__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;

  padding: 10px 32px 32px 32px;

  -webkit-column-gap: 75px;

     -moz-column-gap: 75px;

          column-gap: 75px;
  row-gap: 18px;

  max-height: 400px;
}

.choices__list--dropdown > .choices__list::-webkit-scrollbar {
  display: none;
}

.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded=true] .choices__item--selectable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

  padding: 0;

  max-height: 400px;
  width: calc((100% - 150px) / 3);
}

.wrapper > .choices > .choices__inner {
  min-height: 0;

  padding: 12px 0 11px 21px;
  padding-right: calc(var(--width-after) + 21px);

  position: relative;

  background-color: var(--active-element);
}

.choices__inner,
.is-focused .choices__inner {
  border: 1px solid var(--blue-grey);
  border-radius: 4px;
}

.choices__inner::after {
  position: absolute;
  content: '';

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  top: 0;
  right: 0;

  width: var(--width-after);
  height: 100%;

  border-left: 1px solid var(--blue-grey);
  background-color: var(--white);

  -webkit-transition: all .15s ease-in-out;

  -o-transition: all .15s ease-in-out;

  transition: all .15s ease-in-out;
}

.choices__inner::before {
  position: absolute;
  content: '';

  top: 0;
  right: 0;

  width: var(--width-after);
  height: 100%;

  -webkit-transition: all .15s ease-in-out;

  -o-transition: all .15s ease-in-out;

  transition: all .15s ease-in-out;

  z-index: 1;

  background-image: url('../../img/DdArrow.svg');
  background-repeat: no-repeat;
  background-position: center center;
}

.choices__list--single {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  /* width: calc(100% - var(--width-after) - 21px); */
  width: 100%;

  padding: 0;

  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

.choices__list--single > .choices__item--selectable > span:last-child {
  font-weight: 400 !important;
}

.is-open .choices__inner::before {
  rotate: 180deg;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0);
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  -webkit-transition: color 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out;
  transition: color 0.15s ease-in-out;
  color: var(--text-light);
}

.choices__list--dropdown .choices__item > span:last-child,
.choices__list[aria-expanded] .choices__item > span:last-child {
  color: var(--black);
  font-weight: 700;
  -webkit-transition: color .15s ease-in-out;
  -o-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

.choices__list--dropdown .choices__item:hover,
.choices__list[aria-expanded] .choices__item:hover {
  color: var(--active-element);
}

.choices__list--dropdown .choices__item:hover > span:last-child,
.choices__list[aria-expanded] .choices__item:hover > span:last-child {
  color: var(--active-element);
}


.choices__item--disabled {
  display: none;
}

.wrapper > .choices > .choices__list--dropdown > .choices__list > .is-selected {
  display: none;
}

.choices__input[type="search"] {
  -webkit-appearance: none;
}
